@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

@media screen {
	body {
		display: block !important;
		overflow-x: clip !important;
		overflow-y: scroll !important;
	}

	.tooltip-content {
		display: none !important;
	}

	#print-view-container {
		width: 100%;
		min-height: 50vh;
		max-height: 80vh;
		border: none;
		border: 1px solid #d1d8dd;
		margin-bottom: 2rem;
		overflow-x: clip;
		overflow-y: scroll;
		touch-action: pinch-zoom;
	}

	.mobile-required-message {
		margin: 2rem;

		.qr-code-container {
			margin: 1rem 0;
		}
	}

	// Hide desktop content on mobile devices when force_mobile is true
	@include media-breakpoint-up(md) {
		.hide-mobile {
			display: none !important;
		}
	}

	// Hide mobile message on mobile devices
	@include media-breakpoint-down(md) {
		.mobile-required-message {
			display: none !important;
		}
	}
}
